---
version: '3.7'

services:
  wazuh-manager:
    image: wazuh/wazuh-manager:{{ wazuh_version }}
    hostname: wazuh-manager
    restart: always
    ports:
      - "1514:1514/udp"
      - "1515:1515/tcp"
      - "514:514/udp"
      - "55000:55000/tcp"
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword  # Change in production
    volumes:
      - wazuh_api_configuration:/var/ossec/api/configuration
      - wazuh_etc:/var/ossec/etc
      - wazuh_logs:/var/ossec/logs
      - wazuh_queue:/var/ossec/queue
      - wazuh_var_multigroups:/var/ossec/var/multigroups
      - wazuh_integrations:/var/ossec/integrations
      - wazuh_active_response:/var/ossec/active-response/bin
      - wazuh_agentless:/var/ossec/agentless
    depends_on:
      - wazuh-indexer
    networks:
      - wazuh-net

  wazuh-indexer:
    image: wazuh/wazuh-indexer:{{ wazuh_version }}
    hostname: wazuh-indexer
    restart: always
    ports:
      - "9200:9200"
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"  # Reduced for Oracle Free Tier
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - wazuh_indexer_data:/var/lib/wazuh-indexer
    networks:
      - wazuh-net

  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:{{ wazuh_version }}
    hostname: wazuh-dashboard
    restart: always
    ports:
      - "5601:5601"  # Map to 5601; Nginx proxies 443 to 5601
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
      - DASHBOARD_USERNAME=kibanaserver
      - DASHBOARD_PASSWORD=kibanaserver  # Change in production
    depends_on:
      - wazuh-indexer
    networks:
      - wazuh-net

volumes:
  wazuh_api_configuration:
  wazuh_etc:
  wazuh_logs:
  wazuh_queue:
  wazuh_var_multigroups:
  wazuh_integrations:
  wazuh_active_response:
  wazuh_agentless:
  wazuh_indexer_data:

networks:
  wazuh-net:
    driver: bridge
